<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= locals.title ? locals.title : 'Contact Us' %></title>
    <link rel="icon" type="image/x-icon" href="/static/assets/icon.ico">  
    <link rel="stylesheet" href="/static/style.css">                           <!---custom css file link-->


</head>
<body>
    
    <!---header section starts-->

    <header class="header">
        <section class="flex">
            <div id="menu-btn" class="fas fa-bars-staggered"></div>
            <a href="/static/about.ejs" class="logo"> 
                <img src="/static/assets/logo.png" alt="Logo" style="width: 80px; height: 50px;"> <!-- Adjust width and height as needed -->
                T'OutSourcing.
            </a>


            <nav class="navbar">
                <a href="/static/home.ejs">home</a>
                <a href="/static/about.ejs">about us</a>
                <a href="/static/jobs.ejs">all jobs</a>
                <a href="/static/contact.ejs">contact us</a>
                <a href="/static/login.ejs">account</a>
            </nav>

            <a href="#" class="btn" style="margin-top: 0;">post job</a>
        </section>
    </header>

<!---header section ends -->

<!---contact section starts -->

<div class="section-title">contact us</div>

<section class="contact">
    <div class="box-container">
        <div class="box">
            <i class="fas fa-phone"></i>
            <a href="tel :12345678900">63+ 123456789</a>
            <a href="tel :12345678900">63+ 123456789</a>
        </div>
        <div class="box">
            <i class="fas fa-envelope"></i>
            <a href="mailto: aaaa@gmail.com">aaaa@gmail.com</a>
        </div>
        <div class="box">
            <i class="fas fa-map-marker-alt"></i>
            <a href="@"> flat no, building number, phil</a>
        </div>

        <form action="" method="post">
            <div class="flex">
                <div class="box">
                    <p>name <span>*</span></p>
                    <input type="text" name="name" required maxlength="20" placeholder="enter your name" class="input">
                </div>
                <div class="box">
                    <p>email <span>*</span></p>
                    <input type="text" name="email" required maxlength="50" placeholder="enter your email" class="input">
                </div>
                <div class="box">
                    <p>number <span>*</span></p>
                    <input type="text" name="number" required min="0" max="9999" maxlength="20" placeholder="enter your number" class="input">
                </div>
                <div class="box">
                    <p>role <span>*</span></p>
                   <select name="role" required class="input">
                    <option value="employee">job seeker (employee)</option>
                    <option value="employee">job provider (employer)</option>
                   </select>
                </div>
            </div>
            <p>message <span>*</span></p>
            <textarea name="message" class="input" required maxlength="1000" placeholder="enter your message" cols="30" rows="10"></textarea>
            <input type="submit" value="send message" name="send" class="btn">
        </form>
    </div>

</section>
<!---contact section ends -->






<!---footer section starts-->

<footer class="footer">
    <section class="grid">
        <div class="box">
            <h3>quick links</h3>
            <a href="/static/home.ejs"><i class="fas fa-angle-right"></i> home</a>
            <a href="/static/about.ejs"><i class="fas fa-angle-right"></i> about</a>
            <a href="/static/jobs.ejs"><i class="fas fa-angle-right"></i> all jobs</a>
            <a href="/static/contact.ejs"><i class="fas fa-angle-right"></i> contact us</a>
            <a href="#"><i class="fas fa-angle-right"></i> filter search</a>
        </div>

        <div class="box">
            <h3>extra links</h3>
            <a href="#"><i class="fas fa-angle-right"></i> account</a>
            <a href="/static/login.ejs"><i class="fas fa-angle-right"></i> login</a>
            <a href="/static/register.ejs"><i class="fas fa-angle-right"></i> register</a>
            <a href="#"><i class="fas fa-angle-right"></i> post job</a>
            <a href="#"><i class="fas fa-angle-right"></i> dashboard</a>
        </div>
        
        <div class="box">
            <h3>follow us</h3>
            <a href="#"><i class="fab fa-facebook-f"></i> facebook</a>
            <a href="#"><i class="fab fa-twitter"></i> twitter</a>
            <a href="#"><i class="fab fa-instagram"></i> instagram</a>
            <a href="#"><i class="fab fa-linkedin"></i> linkedin</a>
            <a href="#"><i class="fab fa-youtube"></i> youtube</a>
        </div>
    </section>

    <div class="credit">&copy; copyright @ 2023 by <span>TOS</span> | all rights reserved!</div>
</footer>


<!---footer section ends-->


    <!--custom js file link-->
<script src="/static/app.js"></script>

</body>
</html>