<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= locals.title ? locals.title : 'Log In' %></title>
    <link rel="icon" type="image/x-icon" href="/static/assets/icon.ico">  
    <link rel="stylesheet" href="/static/style.css">                           <!---custom css file link-->



</head>
<body>
    
    <!---header section starts-->

    <header class="header">
        <section class="flex">
            <div id="menu-btn" class="fas fa-bars-staggered"></div>
            <a href="/static/about.ejs" class="logo"> 
                <img src="/static/assets/logo.png" alt="Logo" style="width: 80px; height: 50px;"> <!-- Adjust width and height as needed -->
                T'OutSourcing.
            </a>


        

    </header>



<!-----login section starts-->
<div class="account-form-container">
    <section class="account-form">
        <form action="/login" method="post">
                <input type="email" required name="email" maxlength="50" placeholder="Enter your email" class="input">
                <input type="password" required name="password" maxlength="20" placeholder="Enter your password" class="input" id="password">
                <span class="hide-show-icon" id="password-icon" onclick="togglePassword('password')">
                    <i class="fas fa-eye"></i>
                </span>
                <p>Don't have an account? <a href="/register">Register here</a></p>
                <input type="submit" value="Login" name="submit" class="btn">
            </div> <!-- Close the div container here -->
        </form>
    </section>
</div>
<!-----login section ends-->






<!---footer section starts-->

<footer class="footer">
   
    <div class="credit">&copy; copyright @ 2023 by <span>TOS</span> | all rights reserved!</div>
</footer>


<!---footer section ends-->


 
     
    


 <!--custom js file link-->
 <script>
    // Function to toggle password visibility
    function togglePassword(inputId) {
        const passwordInput = document.getElementById(inputId);
        const passwordIcon = document.getElementById(inputId + "-icon");

        if (passwordInput.type === "password") {
            passwordInput.type = "text";
            passwordIcon.innerHTML = '<i class="fas fa-eye-slash"></i>';
        } else {
            passwordInput.type = "password";
            passwordIcon.innerHTML = '<i class="fas fa-eye"></i>';
        }
    }
</script>

<script src="/static/app.js"></script>

</body>
</html>