<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= locals.title ? locals.title : 'Login Page' %></title>
    <link rel="icon" href="/static/assets/logo.png">
    <link rel="stylesheet" href="/static/login/login.css">
</head>
<body>
    <div class="agencytitle-container">
        <h2 class="agency-title">Trio Outsourcing Services</h2>
    </div>
    <div class="login-container">
        <h2 class="login-header">Ready to take the next step?</h2>
        <p class="login-text">Create an account or sign in.</p>
        <p class="termsandconditions">By creating an account or logging in, you understand and agree to <strong style="color:rgb(200, 194, 8);font-weight:bold">T.O.S.'s Terms.</strong> You also acknowledge our Cookie and Privacy policies. You will receive marketing messages from T. O. S. and may opt out at any time by following the unsubscribe link in our messages, or as detailed in our terms.</p>
        <button class="google-container">
            <a href="#">
                <img class="google-logo" src="/static/assets/google icon.jpg" width="30px" alt="Error">
                <p class="btn-google">Continue with Google</p>
            </a>
        </button>
        <button class="apple-container">
            <a href="#">
                <img class="apple-logo" src="/static/assets/apple icon.png" width="65px" alt="Error">
                <p class="btn-apple">Continue with Apple</p>
            </a>
        </button>
        <div class="line-br">or</div>

        <!-- Login Form -->
        <form id="login-form" action="/" method="post">
            <div class="field-wrap">
                <label for="email">
                    Email Address<span class="req">*</span>
                </label>
                <form action="/login" method="POST">
                    <div class="form-group">
                        <input type="email" placeholder="email" class="form-control" value="tos@test.com" name="email">
                    </div>
                    <br>
                    <div class="form-group">
                        <input type="password" placeholder="password" class="form-control" value="Tos1234" name="password">
                    </div>
                    <br>
                     <button type="submit" class="btn btn-success rounded-pill">Continue</button>
                   
                </form>
                <br>
                 <% if(locals.errors) {%>
                        <div class="alert alert-danger text-center">
                            <%= errors%>
                        </div>
                    <%}%>
                     <% if(locals.isInvalid) {%>
                        <div class="alert alert-danger text-center">
                            <%= isInvalid%>
                        </div>
                    <%}%>
                     <% if(locals.logout) {%>
                        <div class="alert alert-success text-center">
                            <%= logout%>
                        </div>
                    <%}%>
                  </div>
            </div>
        
        <!-- End Login Form -->
    </div>

    <script src="/static/login/login.js"></script>
</body>
</html>

    




   