<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= locals.title ? locals.title : 'Register' %></title>
    <title><%= locals.title ? locals.title : 'Foodies' %></title>
    <link rel="icon" type="image/x-icon" href="/static/assets/favicon.ico">  
    <link rel="stylesheet" href="/static/style.css">                       <!---custom css file link-->


</head>
<body>
    
    </header>

<!---header section ends -->


<!-----login section starts-->
<div class="account-form-container">
    <section class="account-form">
        <form action="" method="post">
            <h3>Create New Account</h3>
            <input type="text" required name:name maxlength="20" placeholder="enter your name"  class="input">
            <input type="email" required name:email maxlength="20" placeholder="enter your email"  class="input">
            <input type="password" required name:pass maxlength="20" placeholder="enter your password"  class="input">
            <input type="password" required name:c_pass maxlength="20" placeholder="comfirm your password"  class="input">
            <p>already have an account? <a href="/static/login.ejs">Log in</a></p>
            <input type="submit" value="register now" name="submit" class="btn">
        </form>
    </section>
</div>


<!-----login section ends-->











    <div class="credit">&copy; copyright @ 2023 by <span>TOS</span> | all rights reserved!</div>
</footer>





    <!--custom js file link-->
<script src="/static/login.js"></script>

</body>
</html>