<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= locals.title ? locals.title : 'Register' %></title>
    <link rel="icon" type="image/x-icon" href="/static/assets/icon.ico">  
    <link rel="stylesheet" href="/static/style.css">                           <!---custom css file link-->


</head>
<body>
    
    <!---header section starts-->

    <header class="header">
        <section class="flex">
            <div id="menu-btn" class="fas fa-bars-staggered"></div>
            <a href="/static/about.ejs" class="logo"> 
                <img src="/static/assets/logo.png" alt="Logo" style="width: 80px; height: 50px;"> <!-- Adjust width and height as needed -->
                T'OutSourcing.
            </a>


            <nav class="navbar">
                <a class="links" href="/home">Home</a>
                <a class="links" href="/about">About Us</a>
                <a class="links" href="/jobs">Jobs</a>
                <a class="links" href="/contact">Contact Us</a>
                <a class="links" href="/login">account</a>
            </nav>

            <a href="/postjob" class="btn-link" style="margin-top: 0;">post job</a>
        </section>
    </header>

<!---header section ends -->


<!-----login section starts-->
<div class="account-form-container">
    <section class="account-form">
        <form action="" method="post">
            <h3>Create New Account</h3>
            <input type="text" required name:name maxlength="20" placeholder="enter your name"  class="input">
            <input type="email" required name:email maxlength="20" placeholder="enter your email"  class="input">
            <input type="password" required name:pass maxlength="20" placeholder="enter your password"  class="input">
            <input type="password" required name:c_pass maxlength="20" placeholder="comfirm your password"  class="input">
            <p>already have an account? <a href="/static/login.ejs">Log in</a></p>
            <input type="submit" value="register now" name="submit" class="btn">
        </form>
    </section>
</div>


<!-----login section ends-->










<!---footer section starts-->

<footer class="footer">
    <section class="grid">
        <div class="box">
            <h3>quick links</h3>
            <a href="/static/home.ejs"><i class="fas fa-angle-right"></i> home</a>
            <a href="/static/about.ejs"><i class="fas fa-angle-right"></i> about</a>
            <a href="/static/jobs.ejs"><i class="fas fa-angle-right"></i> all jobs</a>
            <a href="/static/contact.ejs"><i class="fas fa-angle-right"></i> contact us</a>
            <a href="#"><i class="fas fa-angle-right"></i> filter search</a>
        </div>

        <div class="box">
            <h3>extra links</h3>
            <a href="#"><i class="fas fa-angle-right"></i> account</a>
            <a href="/static/login.ejs"><i class="fas fa-angle-right"></i> login</a>
            <a href="/static/register.ejs"><i class="fas fa-angle-right"></i> register</a>
            <a href="#"><i class="fas fa-angle-right"></i> post job</a>
            <a href="#"><i class="fas fa-angle-right"></i> dashboard</a>
        </div>
        
        <div class="box">
            <h3>follow us</h3>
            <a href="#"><i class="fab fa-facebook-f"></i> facebook</a>
            <a href="#"><i class="fab fa-twitter"></i> twitter</a>
            <a href="#"><i class="fab fa-instagram"></i> instagram</a>
            <a href="#"><i class="fab fa-linkedin"></i> linkedin</a>
            <a href="#"><i class="fab fa-youtube"></i> youtube</a>
        </div>
    </section>

    <div class="credit">&copy; copyright @ 2023 by <span>TOS</span> | all rights reserved!</div>
</footer>


<!---footer section ends-->


    <!--custom js file link-->
<script src="/static/app.js"></script>

</body>
</html>