<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= locals.title ? locals.title : 'View Jobs' %></title>
    <link rel="icon" type="image/x-icon" href="/static/assets/icon.ico">  
    <link rel="stylesheet" href="/static/style.css">                           <!---custom css file link-->


</head>
<body>
    
    <!---header section starts-->

    <header class="header">
        <section class="flex">
            <div id="menu-btn" class="fas fa-bars-staggered"></div>
            <a href="/static/about.ejs" class="logo"> 
                <img src="/static/assets/logo.png" alt="Logo" style="width: 80px; height: 50px;"> <!-- Adjust width and height as needed -->
                T'OutSourcing.
            </a>


            <nav class="navbar">
                <a href="/static/home.ejs">home</a>
                <a href="/static/about.ejs">about us</a>
                <a href="/static/jobs.ejs">all jobs</a>
                <a href="/static/contact.ejs">contact us</a>
                <a href="/static/login.ejs">account</a>
            </nav>

            <a href="#" class="btn" style="margin-top: 0;">post job</a>
        </section>
    </header>

<!---header section ends -->

<!--- view job starts-->
<section class="job-details">
    <h1 class="heading">job details</h1>
    <div class="details">
        <div class="job-info">
            <h3>senior web developer</h3>
        <a href="/static/view_company.ejs">IT infosys co.</a>
        <p><i class="fas fa-map-marker-alt">Philippines</i></p>
        </div>
        <div class="basic-details">
            <h3>basic salaray</h3>
            <p>10000-25000 per month</p>
            <h3>benefits</h3>
            <p>hybrid set up , health insurance</p>
            <h3>job type</h3>
            <p>full-time</p>
            <h3>schedule</h3>
            <p>day shift</p>
        </div>
        <ul>
            <h3>requirements</h3>
            <li>education : <span>graduate</span></li>
            <li>age : <span>25+</span></li>
            <li>language : <span>filipino, english</span></li>
            <li>experience : <span>2+ years</span></li>
        </ul>
        <ul>
            <h3>qualifications</h3>
            <li>Bachelor's (Preferred)</li>
            <li>PHP: 1 year (Preferred)</li>
            <li>web design:  1 year (preferred)</li>
            <li>WordPress: 1 year (preferred)</li>
            <li>total work : 2 years (Required)</li>
        </ul>
        <ul>
            <h3>skills</h3>
            <li>htlm5 and css</li>
            <li>javascript</li>
            <li>node.js</li>
            <li>react.js</li>
            <li>php</li>
            <li>msql</li>
        </ul>
        <div class="description">
            <h3>job description</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis aliquid beatae perferendis consequuntur provident nihil porro nobis odio maiores adipisci iure aperiam quo quidem sequi eius mollitia, sapiente sunt illum?</p>
            <ul>
                <li>Hiring 3 candicates</li>
                <li>posted 3 hours ago</li>
            </ul>
        </div>
        <form action="" method="post" class="flex-btn">
            <input type="submit" value="apply now" name="apply" class="btn">
            <button type="submit" class="save"><i class="far fa-heart"></i><span>save job</span></button>
        </form>
    </div>
</section>
<!--- view job ends-->











<!---footer section starts-->

<footer class="footer">
    <section class="grid">
        <div class="box">
            <h3>quick links</h3>
            <a href="/static/home.ejs"><i class="fas fa-angle-right"></i> home</a>
            <a href="/static/about.ejs"><i class="fas fa-angle-right"></i> about</a>
            <a href="/static/jobs.ejs"><i class="fas fa-angle-right"></i> all jobs</a>
            <a href="/static/contact.ejs"><i class="fas fa-angle-right"></i> contact us</a>
            <a href="#"><i class="fas fa-angle-right"></i> filter search</a>
        </div>

        <div class="box">
            <h3>extra links</h3>
            <a href="#"><i class="fas fa-angle-right"></i> account</a>
            <a href="/static/login.ejs"><i class="fas fa-angle-right"></i> login</a>
            <a href="/static/register.ejs"><i class="fas fa-angle-right"></i> register</a>
            <a href="#"><i class="fas fa-angle-right"></i> post job</a>
            <a href="#"><i class="fas fa-angle-right"></i> dashboard</a>
        </div>
        
        <div class="box">
            <h3>follow us</h3>
            <a href="#"><i class="fab fa-facebook-f"></i> facebook</a>
            <a href="#"><i class="fab fa-twitter"></i> twitter</a>
            <a href="#"><i class="fab fa-instagram"></i> instagram</a>
            <a href="#"><i class="fab fa-linkedin"></i> linkedin</a>
            <a href="#"><i class="fab fa-youtube"></i> youtube</a>
        </div>
    </section>

    <div class="credit">&copy; copyright @ 2023 by <span>TOS</span> | all rights reserved!</div>
</footer>


<!---footer section ends-->


    <!--custom js file link-->
<script src="/static/app.js"></script>

</body>
</html>