

body {
  background-image: url("/static/assets/tos\ background.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.agencytitle-container {
  float: right;
    margin-right: 500px;
    margin-top: 40px;
    font-family: sans-serif;
    color: gold;
    text-decoration: none;
}

.linktomain {
  font-family: sans-serif;
    color: gold;
    text-decoration: none;
    font-size: 40px;
    margin-right: -120px;
    display: inline-block;
    font-weight: bold;
}

.login-container {
  border: solid 1.5px rgba(0, 0, 0, 0.541);
  width: 450px;
  height: 760px;
  float: right;
  margin-top: 50px;
  margin-right: 400px;
  border-radius: 10px;
  background-color: rgba(175, 164, 164, 0.613);
  box-shadow: 1px 2px 28px -7px rgba(0, 0, 0, 0.992);
}

.linktomain:hover {
  text-decoration: underline;
}

.login-header {
  font-family: Arial;
  margin-left: 20px;
}

.login-text {
  font-family: Arial;
  font-size: 15px;
  margin-left: 20px;
  color: rgba(9, 8, 8, 0.912);
}

.termsandconditions {
  font-family: Helvetica;
    font-size: 12px;
    margin-left: 20px;
    margin-right: 20px;
    color: rgba(0, 0, 0, 0.534);
}

.google-container {
  margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    width: 400px;
    height: 50px;
    border: 1px solid rgba(0, 0, 0, 0.295);
    border-radius: 10px;
}

.apple-container {
  margin-left: 20px;
    margin-right: 20px;
    width: 400px;
    height: 50px;
    border: 1px solid rgba(0, 0, 0, 0.295);
    border-radius: 10px;
    margin-top: 15px;
}

.google-logo {
  float: left;
    margin-top: 7px;
    margin-left: 10px;
}

.btn-google {
  display: inline-block;
    font-size: larger;
    font-weight: bold;
    margin-left: -40px;
}
.btn-apple {
  display: inline-block;
    font-size: larger;
    font-weight: bold;
    margin-left: -50px;
}


.google-container:hover {
  border: 1px solid gold;
  background: rgba(255, 217, 0, 0.171);
  transition: 1.5s;
}

.apple-logo {
  float: left;
    margin-top: 3px;
    margin-left: -10px;
}

.apple-container:hover {
  border: 1px solid gold;
  background: rgba(255, 217, 0, 0.171);
  transition: 1.5s;
}

.line-br {
 display: block;
 text-align: center;
 font-family: Verdana;
 margin-top: 30px;
 font-size: 15px;
 color: rgba(8, 8, 8, 0.886);
}

.field-wrap {
  margin-top: 20px;
}

.field-wrap label {
  font-family: sans-serif;
  font-weight: bold;
  color: #0b0b0b;
  margin-bottom: 5px;
  margin-left: 5%;

}

.field-wrap input[type="email"],
.field-wrap input[type="password"] {
    width: 82%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    color: #333;
    margin-left: 5%;
}

.field-wrap input[type="email"]:hover,
.field-wrap input[type="password"]:hover {
  border: 5px solid gold;
  background: rgba(255, 217, 0, 0.171);
  transition: 1.5s;
}



/* Style the "Log In" and "Sign Up" buttons */
.button {
  background-color: #685c20;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-weight: bold;
}

.button-block {
  width: 30%;
  margin-top: 15px;
  margin-left: 2%
}
.button:hover {
  background-color: #685c20;
  border: 1px solid gold;
  background: rgba(8, 7, 1, 0.171);
  transition: 1.5s;
}

/* CSS for Forgot Password? link */
a.forgot {
  color: #465012;
  text-decoration: none;
  margin-left: 10%;
  transition: color 0.3s; 
  font-size:x-large;
}

a.forgot:hover {
  color: #070600; 
}

.eye-icon {
  float: right;
  margin-right: 50px;
  margin-top: -35px;
}

.forgot-pass{
  float: right;
  text-decoration: none;
  color: gold;
  margin-right: 40px;
  margin-top: -40px;
  font-family: sans-serif;
  font-weight: bold;
}

.forgot-pass:hover {
  text-decoration: underline;
}

.signup-link{
  float: left;
  margin-top: -70px;
  margin-left: 25px;
  font-family: sans-serif;
}

.btn-success{
  height: 40px;
  margin-top: 100px;
  width: 90%;
  margin-left: 20px;
  font-size: 20px;
  border-radius: 50px;
}

.btn-success:hover {
  color: white;
  background: gold;
  border: 1px solid gold;
  transition: 1s;
  font-weight: bold;
}

.sign-up {
  text-decoration: none;
}