

body {
  background-image: url("/static/assets/tos\ background.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.agencytitle-container {
  float: right;
  margin-right: 720px;
  margin-top: 10px;
  font-family: sans-serif;
  color: gold;
  font-size: 15px;
  font-family: "Times New Roman", Times, serif;
  

}

.login-container {
  border: solid 1.5px rgba(0, 0, 0, 0.541);
  width: 450px;
  height: 760px;
  float: right;
  margin-top: 100px;
  margin-right: -460px;
  border-radius: 10px;
  background-color: rgba(175, 164, 164, 0.613);
  box-shadow: 1px 2px 28px -7px rgba(0, 0, 0, 0.992);
  
}

.login-header {
  font-family: Arial;
  margin-left: 20px;
}

.login-text {
  font-family: Arial;
  font-size: 15px;
  margin-left: 20px;
  color: rgba(9, 8, 8, 0.912);
}

.termsandconditions {
  font-family: Helvetica;
  font-size: 10px;
  margin-left: 20px;
  margin-right: 20px;
  color: rgba(0, 0, 0, 0.841);
}

.google-container {
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  width: 300px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.295);
  border-radius: 10px;
}

.apple-container {
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  width: 300px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.295);
  border-radius: 10px;
  margin-top: 15px;
}

.google-logo {
  display: inline-block;
    font-size: larger;
    font-weight: bold;
    margin-top: -10%;
    margin-left: -40px;
}

.btn-google {
  display: inline-block;
  font-size:medium;
  font-weight: bold;
  margin-top: 1%;
  margin-left: 50px;
}
.btn-apple {
  display: inline-block;
  font-size:medium;
  font-weight: bold;
  margin-top: 1%;
  margin-left: 50px;
}


.google-container:hover {
  border: 1px solid gold;
  background: rgba(255, 217, 0, 0.171);
  transition: 1.5s;
}

.apple-logo {
  float: left;
  font-size: medium;
  font-weight: bold;
  margin-top: -10%;
  margin-left: -40px;
}

.apple-container:hover {
  border: 1px solid gold;
  background: rgba(255, 217, 0, 0.171);
  transition: 1.5s;
}

.line-br {
 display: block;
 text-align: center;
 font-family: Verdana;
 margin-top: 30px;
 font-size: 15px;
 color: rgba(8, 8, 8, 0.886);
}

.field-wrap {
  margin-top: 20px;
}

.field-wrap label {
  display: block;
  color: #0b0b0b;
  margin-bottom: 5px;
  margin-left: 5%;

}

.field-wrap input[type="email"],
.field-wrap input[type="password"] {
    width: 82%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    color: #333;
    margin-left: 5%;
}

.field-wrap input[type="email"]:hover,
.field-wrap input[type="password"]:hover {
  border: 5px solid gold;
  background: rgba(255, 217, 0, 0.171);
  transition: 1.5s;
}


/* Style the "Log In" and "Sign Up" buttons */
.button {
  background-color: #685c20;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-weight: bold;
}

.button-block {
  width: 30%;
  margin-top: 15px;
  margin-left: 2%
}
.button:hover {
  background-color: #685c20;
  border: 1px solid gold;
  background: rgba(8, 7, 1, 0.171);
  transition: 1.5s;
}

/* CSS for Forgot Password? link */
a.forgot {
  color: #465012;
  text-decoration: none;
  margin-left: 10%;
  transition: color 0.3s; 
  font-size:x-large;
}

a.forgot:hover {
  color: #070600; 
}

